<div id ="title">
	<h1>{{title}}</h1>
	<h2>{{subtitle}}</h2>
	<p>{{email}}</p>
</div>

<article class="about">
	<h2>Sobre mí</h2>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget arcu lectus. Vivamus justo ligula, cursus quis fringilla vel, fringilla eget quam. Curabitur varius risus felis, a ultricies purus tincidunt vitae. Nam nisi libero, tincidunt vel leo id, lacinia rhoncus dolor. Nunc iaculis commodo tortor at tempus. Vivamus non nibh id nunc gravida viverra sed eu metus. Fusce et pulvinar quam.
	</p>
</article>